.menuNavigation {
  margin-left: 4%;

}
.menuNavigation ul, .menuNavigation li {
  padding: 0;
}
.menuNavigation ul {
  background: gray;
  list-style: none;
  width: 100%;
}
.menuNavigation li {
  float: left;
  position: relative;
  width:auto;
  background: #30A6E6;
  color: #FFFFFF;
  display: block;
  font: bold 12px/20px sans-serif;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.menuNavigation li:hover {
  background: #000000;
  cursor: pointer;
}

.menuNavigationActive {
  background: #000000;
}
.menuNavigation a {
  background: #30A6E6;
  color: #FFFFFF;
  display: block;
  font: bold 12px/20px sans-serif;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.menuNavigation li:hover a {
  background: #000000;
}

.menuCategory {
  display:none;
  clear: both;
  width:90%;
  margin:0 auto;
  margin-top: 50px;
}
.stitched {
   padding: 10px;
   margin: 10px;
   margin:0 auto;
   background: #EDEAE6;
   /*width:40%;*/
   color: #8E6547;
   font-size: 50px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #C7BEB6;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #EDEAE6, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   /*text-shadow: -1px -1px #aa3030;*/
   font-weight: normal;
}

#bookTable {
  -webkit-transition-duration: 2.0s;
    -moz-transition-duration: 2.0s;
    -o-transition-duration: 2.0s;
    transition-duration: 2.0s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
}

#bookTable:hover {
  -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
@font-face {
   font-family: myFirstFont;
   src: url('../fonts/bonheur-royale.ttf');
}
#flipbook{
    width:400px;
    height:300px;
}

#flipbook .page{
    width:400px;
    height:300px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

.navlink {
    font-weight: bold;
}

.navlink:hover {
  text-shadow: #FFFFFF 0px 0px; 
  border-radius: 4px;
}
.navbar-default {
  background-size: 100%;
  border: 0px;
  box-shadow: 5px 5px 5px;
}

.navbar .nav > li > a {
  color:#000000;
}

.navbar .nav > li > a:hover {
  color:#FFFFFF;
}

body {
  background-image: url('../img/vending/restaurant_icons.png');
  background-attachment: fixed;
}
p {
  font-weight: bolder;
  text-shadow: 2px;
}

.customButton {
  background-color: #FFFFFF;
  padding-top: -10px;
  margin: 0 auto;
  text-align: center;
  width:100px;
  height:30px;
  box-shadow: 2px 2px 2px;
  border:2px solid grey;
  border-radius: 5px;
  font-family: 'Chelsea Market', cursive;
}

.customButton:hover {
  cursor: pointer;
  background-color: #d6d1d1;
  box-shadow: 1px 1px 1px;
  border:1px solid grey;

}
/* For vending products */
.fadein { position:relative; width:auto; height:200px; text-align: center; }
.fadein img {position:absolute; left:0; right:0; top:0; margin:0 auto}

/* For vending machine*/
.fadein2 { position:relative; width:auto; height:300px; text-align: center; }
.fadein2 img {height:80%;width:auto;position:absolute; left:0; right:0; top:10; margin:0 auto}

.caption {
  left:200px;
}
.subHeading {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #EB5D1E;
  font-weight:bold;
  text-align: center;
}

.caption{
  font-family: 'Chelsea Market', cursive;
  font-size: 25px; 
  font-weight: bolder; 
}
.subContent {
  font-family: 'Chelsea Market', cursive;
  font-size: 15px; 
  font-weight: bolder; 
  text-align: justify;
}

.panel {
    margin: 0 auto;
    width:320px;
    height:320px;
    background: none;
    /*width: 130px;
    height: 130px;*/  
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective:600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
.panel .back {
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    -ms-transform: rotateY(-180deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
}

.pad2{
    font-size: 1.5em;
    padding: 15px;
}


#Vision {
  padding-bottom: 42px;
}

.boxStyle {
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;   
}

.boxStyleOrange {
  margin-bottom: 20px;
  padding: 20px;
  color:#422A10;
  background-color: #FFFFFF;
  background-image: url('../img/vending/restaurant_icons3.png');
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;  
}

.boxStyleYellow {
  margin-bottom: 20px;
  padding: 20px;
  /*background-color: #FFFFFF;*/
  background-image: url('../img/vending/restaurant_icons4.png');
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;  
}

.boxStyleBlue {
  margin-bottom: 20px;
  padding: 20px;
  color: #FFFFFF;
  /*background-color: #FFFFFF;*/
  background-image: url('../img/vending/restaurant.png');
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;  
}

.boxStyleGreen {
  margin-bottom: 20px;
  padding: 20px;
  color: #FFFFFF;
  /*background-color: #FFFFFF;*/
  background-image: url('../img/restaurant_icons5.png');
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px; 
}

.boxStyle1 {
  margin-bottom: 20px;
  padding: 20px;
  color: #422A10;
  background-color: #FFFFFF;
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;  
}

#WhoWeAre {

}

#Businesses {
  margin: 0 auto;
  width:80%;
}

/*  CLIENT LOGO SCROLLER */
#scroller {
    position: relative;
}
#scroller .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#scroller li {
    padding-right: 30px;
    margin: 0;
    list-style-type: none;
    position: absolute;
}
#logo {
    margin: 0 auto;
    padding-bottom: 20px;
    opacity: 0.8;
}
#logoWork {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}
.profile {
    margin : 0 auto;
    width: 40%;
    height: auto;
    opacity: 0.9;
}
/* END OF CLIENT LOGO SCROLLER */

#whyVendistro {
  margin-bottom: 20px;
  padding: 20px;
  color: #FFFFFF;
  /*background-color: #FFFFFF;*/
  background-image: url('../img/vending/restaurant.png');
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;
}

#whatVendistro {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;
}
#servicesVending {
  margin-bottom: 20px;
  padding: 20px;
  color:#422A10;
  background-color: #FFFFFF;
  background-image: url('../img/vending/restaurant_icons3.png');
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;
}
#productsVending {
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;  
}
#clientsVending {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #FFFFFF;
  /*background-image: url('../img/vending/divBackground1.jpg');*/
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;
}

#vendingMachine {
  margin-bottom: 20px;
  padding: 20px;
  /*background-color: #FFFFFF;*/
  background-image: url('../img/vending/restaurant_icons4.png');
  -webkit-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 9px 23px 0px rgba(0,0,0,0.55);
  border: 1px none #000000;
  border-radius: 5px;  

}
#clientsHeading {
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
   transform: rotate(-30deg);
}

#logo {
  margin: 0 auto;
  padding-bottom: 20px;
  opacity: 0.8;
}
#logoWork {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}
.profile {
  margin : 0 auto;
  height: 320px;
  width:auto;
}

/*.profile:hover {
  width: 80%;
  border:1px solid #eaeaea;
  box-shadow: 5px 5px 0px #888888;
  opacity: 1;
  transition: all 0.6s ease;

}*/

/*#bio1,#bio2 {
  display: none;
}*/

#mainHead {
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*background-color: #99CCCC; */
 box-shadow: 5px 5px 5px #888888;
  margin-bottom: 20px;
 background-image: url('../img/teal2.jpg');
  background-attachment: fixed;
  background-size: 100%; 
}
#foodHead {
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*background-color: #FF8000;*/ 
 box-shadow: 5px 5px 5px #888888;
  margin-bottom: 20px;
  background-image: url('../img/orange.jpg');
  background-attachment: fixed;
  background-size: 100%;
}
#healthHead {
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000080;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 20px;
  background-image: url('../img/darkblue.jpg');
  background-attachment: fixed;
  background-size: 100%;
}

.transparentHeader {
  opacity: 0.7;
}

.mainLogo {
  margin: 0 auto;
  height: 8%;
  width: auto;
}

#selectBrand {
  font-weight:bolder;
  text-align: left;
}

#dropdownImage {
  cursor:pointer;
  margin-top: 10%;
  width:15%;
  height:auto;
  opacity: 0.5;
}

.sticky {
  margin: 0 auto;
  height: 8%;
  width: auto;
  transition: all 0.3s ease;

}

.listOptions {
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  padding-top: 20px;
  font-family: '';
  font-weight: bold;
}


.listEntryOptions {
  margin: 0 auto;
  cursor: pointer;
  color: #EB5D1E;
  font-weight: medium;
  display: inline;
  font-size: 0.9em;
  margin-bottom: 0;
  margin-right: 3px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  position: relative;
  text-align: center;
  white-space: nowrap;
  /*border-right: groove;*/
}

.listEntryOptions2 {
  margin: 0 auto;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: medium;
  display: inline;
  font-size: 0.9em;
  margin-bottom: 0;
  margin-right: 3px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  position: relative;
  text-align: center;
  white-space: nowrap;
  /*border-right: groove;*/
}

.currentPageSelection {
  background: -webkit-linear-gradient(top, #808080 0%, #E5E5E5 100%);
  box-shadow: rgba(0, 0, 0, 0.0980392) 2px 2px; 
  color: #EB5D1E; 
  text-shadow: #FFFFFF 1px 1px; 
  border-radius: 4px;
}

.listEntryOptions2:hover {
  /*border:2px solid #FFFFFF;
  border-radius: 4px;*/
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #E5E5E5 100%);
  box-shadow: rgba(0, 0, 0, 0.0980392) 2px 2px;
  color: #EB5D1E;
  text-shadow: #FFFFFF 1px 1px;
  border-radius: 4px;
}

.listEntryOptions2 a {
  color: #FFFFFF;
}

.listEntryOptions2 a:hover {
  color:  #EB5D1E;
}
.listEntryOptions:hover {
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #E5E5E5 100%);
  box-shadow: rgba(0, 0, 0, 0.0980392) 2px 2px;
  color: #EB5D1E;
  text-shadow: #FFFFFF 1px 1px;
  border-radius: 4px;
}

.listEntryOptions a {
  color: #EB5D1E;
}

/*Carousel div styling */
#carousel {
  width:76%;
  margin-bottom: 0px;
  margin:0 auto;
  padding:20px 10px 50px 10px;
   /* height: 500px;*/
  overflow: hidden;
   /*border: 20px double #ece8e1;*/
}

/*--- CSS for fade effect instead of slide effect on carousel --- */

/*.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}*/


.contact {
  list-style:none;
  margin:0.25em 0 0.5em;
  overflow:hidden;
  padding:0;
  text-align: justify;
  color: black;
  font-weight: 900;
}

.brand {
}



 
@media only screen and (device-width: 768px), only screen and (max-width: 1000px)  {

#clientsHeading {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
}

.machineSection {
  width:100%;
}
/*.profile {
  margin : 0 auto;
  height: 200px;
  width:auto;
 }*/ 
/*.panel {
    margin: 0 auto;
    width:310px;
    height:325px;
    background: none;
    /*width: 130px;*/
    /*height: 130px;*/  
    /*position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective:600px;
}*/
.pad2{
    font-size: 0.8em;
    padding: 15px;
}
#whatVendistro {
      margin-top: 10px;
    }
    .listEntryOptions {
            font-size:0.8em;
    }
    .logoDiv {
      text-align: center;
    }
    .navigationList {
      text-align: center;
    }
    #carousel {
      width:90%;
    }
    .carouselClass {
      margin-top: 600px; margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .sticky {
      margin: 0 auto;
      height: 0%;
      width: auto;
      transition: all 0.5s ease;
    } 
    .mainLogo {
      margin: 0 auto;
      height: 10%;
      width: auto;
      transition: all 1s ease;
    }  
    .logoOptions {
      z-index:300;
      padding-top: 5px;
      margin: 0 auto;
      display:none;
      background: none;
    }

 /*   .profile {
      margin : 0 auto;
      width:50%;
      height: auto;
      opacity: 0.9;
    }*/
    #selectBrand {
      font-weight:bolder;
      text-align: center;
    }
    #dropdownImage {
      cursor:pointer;
      margin-top: 0%;
      width:4%;
      height:auto;
      opacity: 0.5;
    }

}

@media only screen and (device-width: 768px), only screen and (max-width: 1200px)  {

  .menuNavigation li {
    float: none;
    position: relative;
    width:auto;
    background: #30A6E6;
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
    #brand2 {
      padding-top: 40px;
    }
    #carousel {
      width:90%;
    }
    .listEntryOptions {
        font-size:0.8em;
    }

    .logoDiv {
      text-align: center;
    }
    .navigationList {
      text-align: center;
    }
    .carouselClass {
      margin-top: 600px; margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .sticky {
      margin: 0 auto;
      height: 0%;
      width: auto;
      transition: all 0.5s ease;
    } 
    .mainLogo {
      margin: 0 auto;
      height: 10%;
      width: auto;
      transition: all 1s ease;
    }  
    .logoOptions {
      z-index:300;
      padding-top: 5px;
      margin: 0 auto;
      display:none;
      background: none;
    }

/*    .profile {
      margin : 0 auto;
      width:50%;
      height: auto;
      opacity: 0.9;
    }*/
    #selectBrand {
      font-weight:bolder;
      text-align: center;
    }
    #dropdownImage {
      cursor:pointer;
      margin-top: 0%;
      width:4%;
      height:auto;
      opacity: 0.5;
    }

}

/*
@media screen and (max-width: 600px) {
    .listEntryOptions {
        font-size:0.8em;
    }
    .navigationDiv {
      text-align: justify;
    }
    /*
    .sticky {
      margin: 0 auto;
      height: 0%;
      width: auto;
      transition: all 1s ease;
    } 

    .carouselClass {
      margin-top: 200px; margin-bottom: 0px;
    }
}
*/

.goToTop {
  float: right;
  margin-right: 2%;
  cursor: pointer;
}
.foot {
   bottom: 0;
    width: 100%;
    padding-top: 20px; 
    padding-bottom: 10px; 
    color: #D3D3D3;
    /*background-color: #4F4F4F;*/
    background-image: url('../img/footer-bg.png');
    background-attachment: fixed;
    border-top: 2px solid #888888;
    background-size: 100%;
}


/*TEST CODE*/
#restaurants {
  display: none;
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: -40px;
}

#vending {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -40px;
}

#logo1 {
  cursor:pointer;
}
.logoList {
    list-style-type: none;
    padding: 0px;

}
.logoOptions {
  z-index:300;
  padding-top: 5px;
  margin: 0 auto;
  display:none;
  background: none;
}

.img-thumbnail {
    padding: 2px;
    border-radius: 10px;
}
.post-box {
    margin: 15px 0 15px 0;
}

.post-box2 {
    margin: 15px 0 15px 0;
    width: 50%;

}
.testimonial {
  font-size: 18px;
  font-weight: bolder;
  font-style: oblique;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.testimonial::before { 
    content: url('../img/icons/paperclip.png');
    left: -10px;
    top: -18px;
    position: absolute;
 }
.post-box3 {
    padding-left: 30px;
    margin: 15px 5px 15px 5px;
    width: 280px;   
    background-color: #F4FBFD;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 2px 2px 1px #888888;
}
/* --------------------*/

#scroller {
    position: relative;
}
#scroller .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#scroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}

#productScroller {
    position: relative;
}
#productScroller .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#productScroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#productScroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}